.container
  .row
    .col-md-6.col-md-offset-3
      = form_for [fighter, fighter.skills.new] do |f|
        .form-group
          = f.text_field :name, placeholder: 'Add name of skill...'
          = f.text_field :value, placeholder: 'Add value of skill 1-5'
        = f.button :submit, class: 'btn btn-success'
