.container
  .row
    .col-md-6.col-md-offset-3
      %h1 Fights
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th First fighter
            %th Second fighter
            %th Winner
        %tbody
        -@fights.each do |fight|
          = render 'fight', fight: fight
