.form-wrapper
  .container
    .row
      .col-md-6.col-md-offset-3
        .panel
          = simple_form_for @fight, html: { class: 'form-horizontal', multipart: true } do |f|
            .form-group
              %h2 Select the first fighter
              = f.collection_select(:fighter_id, Fighter.all, :id, :name)
            %h2 VS
            .form-group
              %h2 Select the second fighter
              = f.collection_select(:fighter_2_id, Fighter.all, :id, :name)
            .form-group
              = f.button :submit, class: 'btn-success btn-block fight-button'
